
html,
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
  /* display: inline; */
}

body {
  overflow: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

button {
  outline: none;
}

#mainContainer {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  /* position: relative; */
}


#topContainer {
  width: 75%;
  height: 25%;
  float: left;
}

#workContainer {
  width: 100%;
  height: 75%;
  float: left;
}

#mapContainer {
  height: 25%;
  width: 25%;
  float: right;
  /* display: inline; */
}

#staContainer {
  position: absolute;
  top: calc(25%+50px);
  left: 50px;
  font-size: 13px;
}

#queryTitleContainer {
  position: absolute;
  bottom: 10px;
  left: 50px;
  font-size: 13px;
}

#filterContainer {
  position: absolute;
  top: calc(14% - 20px);
  width: 27%;
  left:calc(35% + 20px);
  box-shadow: none !important;
  /* border: 1px solid #ccc; */
  alignment-baseline: bottom;
  color: #666;
  /* padding-top: 10px; */
  /* height: 40px; */
}

#topNodesTab {
  position: absolute;
  top: calc(14% - 20px);
  /* top:-webkit-calc(13% - 20px); */
  width: 50%;
  height: 40px;
  left: 35px;
  /* background-color: #0C0537; */
}

#toolsContainer {
  position: absolute;
  right:27%;
  top: calc(14% - 20px);
  width: 8%;
  padding: 0;
}


#heatmapContainer {
  position: absolute;
  width: 25%;
  top: 25%;
  right: 0;
}

.sta-single{
  border-radius: 10px;
  box-shadow: 1px 1px 3px #ccc;
  margin: 10px 5px;
  padding: 8px;
  background-color: #fff;
  float: left;
  cursor: pointer;
}

.sta-card {
  border-radius: 10px;
}

.sta-nodename {
  border-radius: 5px;
  background-color: #D85945;
  color: #fff;
  box-shadow: 1px 1px 2px #ccc;
  margin: 10px;
  padding: 8px;
  float: left;
  cursor: default;
}

.query-title {
  border-radius: 5px;
  background-color: #393261;
  color: #fff;
  box-shadow: 1px 1px 2px #ccc;
  margin: 10px;
  padding: 8px;
  float: left;
  cursor: default;
}

.node {
  stroke: rgb(145, 163, 182);
  stroke-width: 2px;
  fill: whitesmoke;
  /* fill: rgb(145, 163, 182);
  stroke: white; */
}

.link {
  stroke: #999;
}

.vertical-line {
  stroke: #CCC;
  stroke-width: 4px;
  cursor: col-resize;
}

.horizontal-line{
  stroke: black;
  stroke-width: 1px;
}

.horizontal-line-text {
  font-size: 12px;
  fill: blue;
  text-anchor: middle;
}

.horizontal-line-text-unit{
  font-size: 11px;
  fill: black;
  text-anchor: middle;
}

.title-text{
  text-anchor: middle;
}

.tooltip {
  position: absolute;
  text-align: center;
  padding: .5rem;
  background: #FFFFFF;
  color: #313639;
  border: 1px solid #313639;
  border-radius: 2px;
  pointer-events: none;
  /* font-size: 1rem; */
  font-size: 12px;
  z-index: 2;
}

.tooltip-handle {
  position: absolute;
  text-align: center;
  font-size: 12px;
  color: #fff;
  background-color: #0C0537;
  padding: 5px;
}

.tooltip-handle-child {
  position: absolute;
  text-align: center;
  font-size: 12px;
  color: #fff;
  background-color: #854911;
  padding: 5px;
}

.hide {
  display: none !important;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



.icon {
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
}

.heatmap-text {
  text-anchor: middle;
  alignment-baseline: middle;
  font-size: 10px;
  cursor: default;
}



.heatmap-container {
  /* background-color: #1E1841; */
  /* position: absolute; */
  padding: 0 !important;
  margin: 0;
  opacity: 1;
}

.mdui-panel-item-header {
  padding: 15px 20px !important;
  height: 100% !important;
  /* text-align: center !important; */
}


.heatmap-axis line {
  stroke: white;
}

.heatmap-axis path {
  stroke: none;
}

.heatmap-axis text {
  /* fill: white; */
  font-size: 10px;
}

.timeselector-axis path {
  stroke: none;
}

.timeselector-axis line {
  stroke: #999;
}

.timeselector-axis text {
  fill: #484848;
}

.handle-custom {
  cursor: ew-resize;
}


.add-graph {
  position: absolute;
  bottom: 5%;
  right: 5%;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  background-color: gray;
  display: inline-block;
  /* transition: ease-in-out .3s; */
}

.add-graph:hover {
  background-color: darkgrey;
  box-shadow: aliceblue;
}

#step-before {
  position: absolute;
  top: 37%;
  left: 10%;
}

#step-after {
  position: absolute;
  top: 37%;
  left: 50%;
}

button,
.after-controller,
.before-controller,
.brush-menu {
  cursor: pointer;
}

.topnodes {
  cursor: grab;
  fill: #393261;
}

.dragging-node {
  cursor: grabbing;
}

.after-controller,
.before-controller
{
  text-anchor: middle;
  alignment-baseline: middle;
}

.link-text {
  alignment-baseline: middle;
  text-anchor: middle;
  fill:#393261;
}

.node-text {
  alignment-baseline: middle;
  text-anchor: middle;
  fill: slategray;
  cursor: default;
  font-size: 11px;
}

line.innode-graph{
  stroke:#BBB;
  /* opacity: 0; */
  stroke-width: 1;
}

rect.innode-graph{
  /* fill:none; */
  /* stroke: aliceblue; */
  opacity: 0.9;
  /* stroke-width: 1.5; */
}

text.innode-graph{
  text-anchor: middle;
  /* fill: #BBB; */
  cursor: default;
  font-size: 11px;
}

.innode-tooltip {
  font-size: 11px;
  width: 70px;
  text-align: left;
  hyphens: auto;
  border-radius: 5%;
  border: none;
  box-shadow: 2px 2px 10px #CCC;
}

.brush-menu {
  /* position: absolute; */
  z-index: 2;
  background-color: rgb(104, 104, 104);
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  padding: 10px;
  display: block;
}

.brush-menu:active {
  background-color: #0C0537;
}




.toptab {
  height: 100%;
  outline: none;
  width: 12%;
  margin: 0;
  padding-bottom: 3px;
  float: left;
  color: #444444;
  background-color: transparent;
  border: #CCC 0.5px solid !important;
  /* border-radius: 5px; */
  font-size: 12px !important;
  
}

.toptab-custom {
  padding: 0;
  height: 40px;
  outline: none;
  width: 40px;
  padding: 10px;
  border: #CCC .5px solid !important;
  background-color: transparent;
}

.toptab-custom:hover {
  background-color: #fff;
}


.toptab-custom svg {
  height: 100%;
  width: 100%;
}

.toptab:hover {
  background-color: #fff !important;
  color: #3C2E93 !important;
}

.toptab-active {
  background-color: white;
  /* background-opacity: .1; */
  border: #4F4688 0.1px solid !important;
  color: #0C0537 !important;
  padding: 0;
  border-bottom: #4F4688 4px solid !important;
  font-weight: 600;
}

.toptab-active:hover {
  background-color: white;
  color: #0C0537;
}




.noclick {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .3;
  z-index: 1001;
}

.nodelist-edit-container {
  top: 15%;
  left: 20%;
  background-color: white;
  position: absolute;
  /* padding: 2%; */
  margin: 0;
  width: 30%;
  max-height: 60%;
  opacity: 1;
  z-index: 1002;
  box-shadow: 0px 0px 15px #666666;
  border-radius: 3px;
  padding: 2.5%;
  overflow: auto;
}

.nodelist-input {
  margin-top: 1%;
  padding: 0 2.5%;
  width: 95%;
  height: 40px;
  border-radius: 5px;
  border: #CCC 1px solid;
  font-size: 20px;
}

.nodelist-table {
  width: 100%;
  font-size: 14px;
}

.nodelist-table thead {
  background-color: #3C2E93;
  color: #fff;
  /* border: none; */
}

.add-node-list {
  margin: 20px 0;
  /* background-color: #eeeeee; */
  border: #CCC 1px solid;
  color: #3C2E93;
}

.nodelist-edit {
  display: inline-block;
  width: 100%;
  color: #444444;
  font-size: 14px;
}

.button-close {
  float: right;
  border: none;
  background-color: transparent;
}

.filter-text-input {
  /* font-size: 12px; */
  width: 50px;
  border: none;
  border-bottom: 1px solid  #0C0537;
  outline: none;
  background-color: transparent;
  color: #3C2E93;
  /* height: 24px; */
  /* margin-top: 5px; */
}

.post-code-input, .bank-input {
  width: 100px;
}

input.filter-text-input:focus {
  border-bottom: 2px solid #3C2E93;
}

.address-checkbox {
  float: right;
  margin-left: 15px;
  /* margin-right: 10%; */
}

.node-filter {
  font-size: 13px;
  font-family: "Roboto";
  float: left;
  margin-bottom: 5px;
  margin-right: 20px;
}

#ATVFilter {
  float: right;
  /* margin-right: 12%; */
}

/* .multi-nodes, .draw-undirected-line, .draw-directed-line, .select-mode{
  outline: none;
} */

.multi-nodes {
  width: 99%;
}

.draw-undirected-line, .draw-directed-line, .select-mode {
  width: 33%;
}

.multi-nodes-active, .tool-active, .select-mode-active {
  background: #4F4688 !important;
  color: white !important;
}

.multi-nodes, .tool-btn {
  border: .1px solid #DDD !important;
}

#timeSelectorDropdown {
  position: absolute;
  right:25%;
  top: 3%;
  width: 10%;
}

#calendar {
  margin-top: 5px;
  width: 81%;
  border-radius: 2px;
  font-size: 14px;
  height: 24px;
  color:#666666;
}

.mdui-select{
  font-size: 13.5px !important;
  padding-bottom: 0 ;
  height: 24px !important;
}

.selected {
  fill: #999 !important;
  stroke: black !important;
}

.node-multi {
  cursor:default;
}

.con-rect{
  /* stroke: #393261; */
  stroke-width: 3;
  /* fill: transparent; */
  fill:white;
}

.build-query-btn {
  position: absolute;
  left: 31%;
  top: 90%;
  width: 8%;
  height: 6%;
  outline: none;
  border: none;
  background-color: #4F4688;
  color: white;
}

.build-query-btn:active{
  background-color: #655AAF;
}

#multiNodeText {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  height: 45px;
  background-color: #272245;
  color: white;
  overflow-y: auto;
  padding-left: 5%;
}

#multiNodePreview {
  fill: transparent;
  /* position: absolute; */
}


.node-multi-center, .center-node {
    fill: slategray;
    stroke:white;
}

.node-multi-pre-link {
  stroke: white;
}


circle.this-route{
  fill: #655AAF;
}

line.this-route {
  stroke:#4F4688;
}

circle.not-this-route{
  /* fill: rgba(162, 178, 194, 0.75); */
  opacity: 0.7;
}

line.not-this-route{
  opacity: .3;
}

text.this-route{
  display: block;
}

circle.clicked{
  stroke-width: 2.5 !important;
  animation: circle-clicked-animation 3s linear infinite;
  background-color: #fff;
}

text.clicked {
  fill: #FB644C;
}

@keyframes circle-clicked-animation {
  0% {stroke: #FB644C;}
  50% {stroke: rgba(251, 149, 76, 0.555);}
  100% {stroke: #FB644C;}
}

.text-hide{
  display: none;
  /* opacity:0; */
}

.text-display{
  display: block;
}

.recenter-text {
  text-anchor: middle;
  alignment-baseline: middle;
  font-size: 12px;
  fill: #276EAD;
}